.bio-card {
    background-color: white;
    color: black;
    box-shadow: var(--gentle-box-shadow);
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.bio-card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--skyctc-blue);
    padding: .75rem 1.5rem;
    background-color: var(--off-white);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 4px 2px 0px hsla(0, 0%, 0%, 0.5);
    cursor: pointer;
    transition:
        background-color 200ms ease;
}

.chevron-icon {
    color: var(--skyctc-blue);
}

/* .bio-card-title p {
    margin-left: .5rem;
} */

.bio-card-title:hover, 
.bio-card-title:focus, 
.bio-card-title:focus-within {
    background-color: white;
}

.bio-card-body-hide {
    display: none;
}

.bio-card-body {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;
    max-height: 0px;
    overflow: hidden;
    transition: 
        max-height 500ms ease;
}

.bio-card-body-visible {
    max-height: 2000px;
}

.bio-card-image-container {
    margin-top: 1rem;
    min-width: 30%;
    padding: 1rem;    
}

.bio-card-image {
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    max-width: 100%;
    
}

.bio-card-text-container {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bio-card-text {
    font-size: 1rem;
}

.bio-card-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.close-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: hsl(0, 0%, 33%);
    transition: color 200ms ease;
    margin-top: .25rem;
}

.close-icon:hover {
    color: hsl(0, 0%, 33%, .6)
}


/* Big screens and big screen animations */
@media screen and (min-width: 900px) {
    .bio-card-body {
        flex-direction: row;
    }

    .bio-card-title {
        font-size: 1.5rem;
        position: relative
    }

    .bio-card-title::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.5rem;
        left: 0;
        bottom: 0;
        background: var(--pathfinder-yellow);
        transform: scale(0, 1);
        transition: transform 200ms ease;
    }

    .bio-card-title:hover::after {
        transform: scale(1, 1);
    }

    .bio-card-image-container {
        max-width: 30%;
    }

    .bio-card-image {
        box-shadow: var(--gentle-box-shadow);
        /* border: 0rem solid hsla(0, 0%, 0%, 0);
        border-radius: 0rem; */
        transition:  
            border-radius 200ms ease;
            /* border 200ms ease; */
    }

    .bio-card-image:hover, 
    .bio-card-image:focus {
        /* border: .5rem solid var(--pathfinder-yellow); */
        border-radius: 3rem;
    }

    /* .bio-card-text-container {
        border-left:.5rem solid var(--skyctc-blue)
    } */
    

}

/* Check if image is missing */
.missing-image {
    display: none;
}