.speaker-card {
    margin: 1rem;
    box-shadow: var(--gentle-box-shadow);
}

.speaker-image {
    width: 100%;
}

.speaker-content-container {
    padding: .25rem .5rem;
}

.speaker-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--skyctc-blue)
}

.show-speaker-info,
.close-speaker-card {
    font-size: 3rem;
    color: var(--semi-transparent-blue);
    padding: .5rem;
    cursor: pointer;
    transition: color 200ms ease;
}

.show-speaker-info {
    display: grid;
    place-content: center;
    align-items: center;
}

.close-speaker-card {
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

.show-speaker-info:hover,
.show-speaker-info:focus,
.close-speaker-card:hover,
.close-speaker-card:focus {
    color: var(--transparent-blue);
}

.speaker-bio-text {
    font-size: 1.25rem;
}

.speaker-bio-container {
    max-height: 2000px;
    
}

.speaker-content-hidden {
    display: none;
    max-height: 0px;
}

/* Large Screens */
@media screen and (min-width: 1080px) {
    .speaker-card {
        width: 25%;
    }
    
    .speaker-title {
        font-size: 1.45rem;
        font-weight: 700;
        text-align: center;
        height: 4.25rem;
    }

    .show-speaker-info,
    .close-speaker-card {
        font-size: 2rem;
    }


    .speaker-cards-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .speaker-bio-container {
        position: fixed;
        display: grid;
        place-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: 0px;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .speaker-modal-container {
        width: 80rem;
        
        /* min-height: 15rem; */
        max-height: 85vh;
        overflow: auto;
        background-color: white;
        box-shadow: var(--gentle-box-shadow);
        border: .5rem solid var(--skyctc-blue);
        border-radius: 1.5rem;
        padding: 1rem 1.75rem;
    }

    .close-speaker-card {
        margin-top: auto;
        margin-bottom: 0px;
        font-size: 3.5rem;

    }
}   


/* Small screens */
@media screen and (max-width: 1080px) {
    .speaker-bio-container {
        transition: max-height 500ms ease;
    }
}