.speaker-container {
    background-color: white;
    margin-bottom: 1.5rem;
    padding: .75rem;
}

.speaker-image {
    width: 100%;
}

.speaker-title {
    color: var(--skyctc-blue)
}

.btn-speaker-bio {
    background-color: var(--skyctc-blue);
    color: white;
    padding: .75rem 1.5rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    border-radius: .25rem;
    border: 2px solid var(--skyctc-blue);
    outline: none;
}


.speaker-bio-show {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    
    /* background-color: rgba(0, 0, 0, 0.199); */

    background-color: aqua;
    overflow: auto;
}

.speaker-bio-hidden {
    display: none;
}

.speaker-bio {
    background-color: blue;
}